@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* NAV_BAR */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 6%;
    width: 100vw;
    height: 129px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    
    cursor: pointer;
}
.logo a{
   text-decoration: none;
   color: black;
}

.nav-links li a{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}

.nav-links li{
    display: inline-block;
    padding: 0px 25px;
}
.nav-links li a{
    text-decoration: none;
}
.nav-links li a{
    transition: all 0.3s ease 0%;
}
.nav-links li a:hover{
   color: rgba(63, 44, 26, 1);
   text-decoration: underline;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 35px;
    height: 3.5px;
    background-color: #281E14;
    margin: 5px;
}

/* BANNER */
#banner{
    width: 100%;
    max-width: 100%;
    height: 393px;
    background-image: linear-gradient(rgba(237, 234, 171, 1), rgba(26, 215, 165, 0.66));
    background-position: center;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
}

#banner .text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding-top: 150px;
    text-align: center;
    color: #FEFFEF;
}
/* EVENTS */

#event .event1 .poster{
    width: 100%;
    max-width: 100%;
    height: 795px;
    background-image:  url("/asset/Latte\ art\ workshop.svg");
    background-position: center;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
}

#event .event1 .container{
    padding: 50px 10%;
    height: 85vh;
    display: flex;
    background-color: #fff0e2;
}
#event .event1 .desc{
    padding-top: 120px;
}

#event .event1 .desc h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    max-width: 580px;
    margin-right: 280px;
}
#event .event1 .desc h2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
#event .event1 .desc p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

#event .event2 .poster{
    width: 100%;
    max-width: 100%;
    height: 795px;
    background-image: url("/asset/florist\ workshop.svg");
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
}
#event .event2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 62px;
    font-weight: 600;
    text-align: center;
    padding: 100px 0px;
    background-color: #E3E0DD;
}

#event .event2 .container{
    padding: 3px 10%;
    display: flex;
    justify-content: center;
    background-color: #E3E0DD;
    height: 85vh;
}

#event .event2 .image{
    margin-right: 45px;
}
#event .event2 .desc{
    padding-top: 65px;
}
#event .event2 .desc h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400; 
}
#event .event2 .desc p{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400; 
}
#event .event2 .desc h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600; 
}


/* FOOTER */
footer{
    background-color: #281E14;
    font-family: 'Poppins', sans-serif;
    color: #FAF4D8;
}
footer .box{
    display: flex;
    justify-content: space-between;
    padding: 90px 10%;
}
footer .about h2{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}
footer .about li a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #FAF4D8;
}
footer .contact h2{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 25px;
}
footer .contact p{
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
}

footer .logo h1{
    padding-left: 3px;
    font-size: 32px;
    font-weight: 700;
}
footer .logo .container{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    max-width: 171px;
    justify-content: space-between;
}

footer .end p{
    text-align: center;
    font-size: 14px;
}
@media only screen and (max-width: 1240px) {
    .nav-links li a{
        font-size: 16px;
    }
    #banner{
        width: 100%;
        max-width: 100%;
        min-height: 50%;
        min-width: 50%;
        background-image: linear-gradient(rgba(237, 234, 171, 1), rgba(26, 215, 165, 0.66));
        background-position: center;
        background-size: cover;
        background-attachment: local;
        background-repeat: no-repeat;
    }
    #banner .text h1{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 700;
        padding-top: 150px;
        text-align: center;
        color: #FEFFEF;
    }

    #event .event1 .poster{
        width: 100%;
        max-width: 100%;
        height: 400px;
        background-image:  url("/asset/Latte\ art\ workshop.svg");
        background-position: center;
        background-size: cover;
        background-attachment: local;
        background-repeat: no-repeat;
    }
    #event .event1 .container{
        padding: 50px 5%;
        display: block;
        background-color: #fff0e2;
    }
    #event .event2 .poster{
        width: 100%;
        max-width: 100%;
        height: 400px;
        background-image: url("/asset/florist\ workshop.svg");
        background-position: center;
        background-size: cover;
        background-attachment:scroll;
        background-repeat: no-repeat;
    }
    #event .event1 .desc{
        padding-top: 30px;
    }
    
    #event .event1 .desc h1{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin-right: 2px;
    }
    #event .event1 .desc h2{
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
    }
    #event .event2 h1{
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        padding: 80px 0px;
        background-color: #E3E0DD;
    }
    
    #event .event2 .container{
        padding: 3px 10%;
        display: block;
        text-align: center;
        height: 90vh;
        background-color: #E3E0DD; 
    }
    #event .event2 .image{
        margin-left: 40px;
    }
    #event .event2 img{
        height: 300px;
    }
    #event .event2 .desc{
        padding-top: 45px;
    }
    #event .event2 .desc h2{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400; 
    }
    #event .event2 .desc p{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400; 
    }
    #event .event2 .desc h3{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 600;
    }

}

@media only screen and (max-width: 810px) {
    nav ul{
        display: none;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 500px;
        top: 129px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    #event .event1 .poster{
        width: 100%;
        max-width: 100%;
        height: 300px;
        max-height: 30%;
        background-image:  url("/asset/Latte\ art\ workshop.svg");
        background-position: center;
        background-size: cover;
        background-attachment: local;
        background-repeat: no-repeat;
    }
    
    #event .event1 .container{
        padding: 40px 5%;
        display: block;
        background-color: #fff0e2;
        align-items: center;
    }
    #event .event1 .desc{
        padding-top: 30px;
    }
    
    #event .event1 .desc h1{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    #event .event1 .desc h2{
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
    }
    #event .event1 .desc p{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 500;
    }
    
    #event .event2 .poster{
        width: 100%;
        max-width: 100%;
        height: 300px;
        background-image: url("/asset/florist\ workshop.svg");
        background-position: center;
        background-size: cover;
        background-attachment:scroll;
        background-repeat: no-repeat;
    }
    #event .event2 h1{
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        padding: 80px 0px;
        background-color: #E3E0DD;
    }
    
    #event .event2 .container{
        padding: 3px 10%;
        display: block;
        text-align: center;
        background-color: #E3E0DD; 
    }
    #event .event2 .image{
        margin-left: 35px;
    }
    #event .event2 img{
        height: 300px;
    }
    #event .event2 .desc{
        padding-top: 35px;
    }
    #event .event2 .desc h2{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400; 
    }
    #event .event2 .desc p{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400; 
    }
    #event .event2 .desc h3{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
/* BANNER */
#banner{
    width: 100%;
    max-width: 100%;
    min-height: 50%;
    min-width: 50%;
    background-image: linear-gradient(rgba(237, 234, 171, 1), rgba(26, 215, 165, 0.66));
    background-position: center;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
}

#banner .text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-top: 160px;
    text-align: center;
    color: #FEFFEF;
}


/* FOOTER */
footer{
    background-color: #281E14;
    font-family: 'Poppins', sans-serif;
    color: #FAF4D8;
}
footer .box{
    display: flex;
    flex-direction: column;
    padding: 90px 10%;
}
footer .about{
    padding-bottom: 85px;
}
footer .about h2{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}
footer .about li a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #FAF4D8;
}

footer .contact{
    padding-bottom: 85px;
}
footer .contact h2{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 25px;
}
footer .contact p{
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
}

footer .icon img{
    width: 30px;
    height: 30px;
}

footer .end p{
    text-align: center;
    font-size: 14px;
}
}

.nav-on{
    transform: translateX(0%);
}

@keyframes fading{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }

}