@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* NAV_BAR */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 6%;
    width: 100vw;
    height: 129px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    
    cursor: pointer;
}
.logo a{
   text-decoration: none;
   color: black;
}

.nav-links li a{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}

.nav-links li{
    display: inline-block;
    padding: 0px 25px;
}
.nav-links li a{
    text-decoration: none;
}
.nav-links li a{
    transition: all 0.3s ease 0%;
}
.nav-links li a:hover{
   color: rgba(63, 44, 26, 1);
   text-decoration: underline;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 35px;
    height: 3.5px;
    background-color: #281E14;
    margin: 5px;
}

/* Our company */
#comp{
    width: 100%;
    max-width: 100%;
    height: 393px;
    background-image: linear-gradient(#DB836B, #3F2C1A);
}

#comp .comp-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    text-align: center;
    color: #FEFFEF;
    padding: 150px 0%;
}

section .visimisi{
    width: 100%;
    height: 1600px;
    background: linear-gradient(180deg, #FDE0C4 0%, #EDEDED 100%);
    text-align: center;
}

section img{
    padding-top: 100px;
}

section .visimisi h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #674E35;
    padding-top: 50px;

}
section .visimisi p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    padding: 30px 29%;

}
section .list{
    padding: 30px 30%;
    text-align: justify;
}
section .list li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    padding-top: 10px;
}
/* FOOTER */
footer{
    background-color: #281E14;
    font-family: 'Poppins', sans-serif;
    color: #FAF4D8;
}
footer .box{
    display: flex;
    justify-content: space-between;
    padding: 90px 10%;
}
footer .about h2{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}
footer .about li a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #FAF4D8;
}
footer .contact h2{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 25px;
}
footer .contact p{
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
}

footer .logo h1{
    padding-left: 3px;
    font-size: 32px;
    font-weight: 700;
}
footer .logo .container{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    max-width: 171px;
    justify-content: space-between;
}

footer .end p{
    text-align: center;
    font-size: 14px;
}

@media only screen and (max-width: 1240px) {
    .nav-links li a{
        font-size: 16px;
    }
    #comp{
        width: 100%;
        max-width: 100%;
        min-height: 50%;
        min-width: 50%;
        background-image:linear-gradient(rgba(219, 131, 107, 0.98), rgba(63, 44, 26, 1));
        background-position: center;
        background-size: cover;
        background-attachment: local;
        background-repeat: no-repeat;
    }
    #comp .comp-text h1{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 700;
        padding-top: 150px;
        text-align: center;
        color: #FEFFEF;
    }
    section .visimisi{
        width: 100%;
        background: linear-gradient(180deg, #FDE0C4 0%, #EDEDED 100%);
        text-align: center;
    }
    
    section img{
        padding-top: 100px;
        height: 400px;
    }
    
    section .visimisi h1{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
        color: #674E35;
        padding-top: 50px;
    
    }
    section .visimisi p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #000000;
        padding: 30px 20%;
    
    }
    section .list{
        padding: 30px 20%;
        text-align: justify;
    }
    section .list li{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #000000;
        padding-top: 10px;
    }
    section{
        text-align: center;
    }
    section .kopi{
        width: 100%;
        max-width: 100%;
        background: linear-gradient(#FDE0C4 , #EDEDED );
    }
    
    section .kopi .img{
        padding: 50px 0%;
    }
    section .kopi img{
        width: 500px;
       height: 300px;
    }
    section .kopi-text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        padding: 10px 16%;
        text-align: center;
        color: #000000;
    }

}

@media only screen and (max-width: 810px) {
    nav ul{
        display: none;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 500px;
        top: 129px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

/* BANNER */
#comp{
    width: 100%;
    max-width: 100%;
    min-height: 50%;
    min-width: 50%;
    background-image:linear-gradient(rgba(219, 131, 107, 0.98), rgba(63, 44, 26, 1));
    background-position: center;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
}

#comp .comp-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-top: 160px;
    text-align: center;
    color: #FEFFEF;
}
/* Our company */
#comp{
    width: 100%;
    max-width: 100%;
    height: 393px;
    background-image: linear-gradient(#DB836B, #3F2C1A);
}

#comp .comp-text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    text-align: center;
    color: #FEFFEF;
    padding: 150px 0%;
}

section .visimisi{
    width: 100%;
    height: 1600px;
    background: linear-gradient(180deg, #FDE0C4 0%, #EDEDED 100%);
    text-align: center;
}

section img{
    padding-top: 100px;
    height: 300px;
}

section .visimisi h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #674E35;
    padding-top: 50px;

}
section .visimisi p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding: 30px 20%;

}
section .list{
    padding: 30px 20%;
    text-align: justify;
}
section .list li{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding-top: 10px;
}
section{
    text-align: center;
}
section .kopi{
    width: 100%;
    max-width: 100%;
    background: linear-gradient(#FDE0C4 , #EDEDED );
}

section .kopi .img{
    padding: 50px 0%;
}
section .kopi img{
    width: 500px;
   height: 300px;
}
section .kopi-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 16%;
    text-align: center;
    color: #000000;
}

/* FOOTER */
footer{
    background-color: #281E14;
    font-family: 'Poppins', sans-serif;
    color: #FAF4D8;
}
footer .box{
    display: flex;
    flex-direction: column;
    padding: 90px 10%;
}
footer .about{
    padding-bottom: 85px;
}
footer .about h2{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}
footer .about li a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #FAF4D8;
}

footer .contact{
    padding-bottom: 85px;
}
footer .contact h2{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 25px;
}
footer .contact p{
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
}

footer .icon img{
    width: 30px;
    height: 30px;
}

footer .end p{
    text-align: center;
    font-size: 14px;
}
}

.nav-on{
    transform: translateX(0%);
}

@keyframes fading{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }

}